{% extends "root.html" %}

{% load staticfiles %}

{% block pre-content %}
<nav id="tag_container">
    <ul id="tags">
        {% for tag in tags %}
            <li class="SideTag"
              data-tag-id="{{ tag.id }}"
              data-tag-name="{{ tag.name }}">
                <a href="?query={{ tag.name }}" class="Tag">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}


{% block header %}
    <h1 id="main_header">Matt Bierner</h1>
{% endblock %}


{% block content %}
    <nav id="search_list">
        <ul id="search_results">
            {% for page in pages %}
                <li class="SearchResult"
                  data-page-id="{{ page.id }}"
                  data-tags="[
                    {% for tag in page.tags.all %}
                        {{ tag.id }}
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                  ]">
                    <h2 class="SearchResultHeader">
                        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                    </h2>
                    <div>
                        <ul class="TagList">
                            {% for tag in page.tags.all %}
                                <li class="Tag">{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                        <p class="ResultBrief">
                            {{ page.brief }}
                        </p>
                    </div>
                </li>
            {% empty %}
                <li class="SearchResult EmptyResult">
                    No results found
                </li>
            {% endfor %}
        </ul>
    </nav>  
{% endblock %}
 
 
{% block scripts %}

<script>
    // serve root page json
    var results = 
        {% if pages %}
            {% with results=pages %}{% include "search_results.json" %}{% endwith %}
        {% else %}
            undefined
        {% endif %};
</script>


<script src="{% static "script/jquery-1.7.2.min.js" %}"></script>
<script src="{% static "script/main.js" %}"></script>
{% endblock %}
