{% extends "base.html" %}

{% load staticfiles %}


{% block page %}

{% block pre-content %}{% endblock %}

<header>
    {% block header %}{% endblock %}
</header>

<div id="root_search">
    <form action="/" method="get">
        <input name="query" type="search" placeholder="Search"
          autofocus="autofocus" results="5"
          value="{% block search_value %}{% endblock %}">
    </form>
</div>

{% block content %}{% endblock %}

<footer>
    &#169; 2012
    <address>
        <a href="mailto:_@mattbierner.com">Matt Bierner</a>
    </address>
</footer>
{% endblock %} 
