{% extends "root.html" %}

{% load staticfiles %}

{% block page-title %} | {{ page.title }}{% endblock %}

{% block extra-css %}
   <link rel="stylesheet" href="{% static "style/page.css" %}" />
{% endblock %}


{% block header %}
    <h1 id="secondary_header"><a href="/">Matt Bierner</a></h1>
    <h1 id="main_header">{{ page.title }}</h1>
{% endblock %}


{% block content %}
<article>
    <section class="PageHeader">
        {% autoescape off %}{{ page.header.rendered }}{% endautoescape %}
    </section>
    <section class="PageBody">
        {% autoescape off %}{{ page.body.rendered }}{% endautoescape %}
    </section>
</article>
{% endblock %}  
            