<header class="site-header">
    <a class="site-mark" href="{{ '/' | relative_url }}" aria-label="Matt Bierner home">
        <span class="site-mark-name">Matt Bierner</span>
        <span class="site-mark-role">Projects</span>
        <span class="site-mark-blocks" aria-hidden="true">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </span>
    </a>
    {% include primary-nav.html class="site-nav" %}
</header>