@import "common";


@media screen and (max-width: page_width(8)) {
  #page_header {
    margin-top: 0;
  }
  
  #page_header, article {
    float: left;
  }
  
  #page_header, #root_search, article {
    clear: left;
  }
 
  #search_list {
    display: none;
  }
}
